INSUNITS 5
{% for sheet in sheetNamesList %}
xref
attach
"./derevitized/{{ sheet[:-4] }}_xrefed.dwg"
0,0,0



{% endfor %}
xref t * r
netload "{{ tectonica_path }}/tectonica.dll"
tecarxref
zoom e
lwdisplay on
filedia 0
saveas
2007
"./{{ project_name }}_MXR.dwg"
visretain 0
xbind d *
xbind s *
xbind lt *
{% if xrefXplodeToggle %}
tecbxt
{% else %}
bindtype 1
xref bind *
xplode all

g

(load(findfile "ssx.lsp"))
{% for sheet in sheets %}
{% for view in sheet.viewsOnSheet %}
ssx

block
{{ sheet.sheetName }}-View-{{ view.viewIndx }}

xplode p

{% endfor %}
{% endfor %}
{% endif %}
-purge all * n
audit y
zoom all
saveas
2004
"./{{ project_name }}_MM.dwg"
filedia 1
qsave

